body {
	width: 100%;
	font-family: 'Manrope', 'Arial', sans-serif;
	font-weight: 700;
}

.counter {
	padding-top: 500px;
	width: 500px;
	margin: 0 auto;
}

.counter__value {
	color: #000;
	font-size: 32px;
	text-align: center;
}

.counter__button-add,
.counter__button-reset {
	font-family: inherit;
	width: 500px;
	height: 100px;
	border-radius: 20px;
	background: #4191ff;
	margin-bottom: 36px;
	border: none;

	color: #fff;
	font-size: 32px;
	cursor: pointer;
}

.counter__button-reset {
	background: #d45366;
}
